 <div class="user-list-container">
        <h2>Lista de Usuarios</h2>
        <ul class="user-list">
            <li class="user-item">
                <span class="user-role">Admin</span>
                <span class="user-email">admin@example.com</span>
                <button class="delete-button" onclick="deleteUser(this)">Eliminar</button>
            </li>
            <li class="user-item">
                <span class="user-role">Premium</span>
                <span class="user-email">premium@example.com</span>
                <button class="delete-button" onclick="deleteUser(this)">Eliminar</button>
            </li>
            <li class="user-item">
                <span class="user-role">User</span>
                <span class="user-email">user@example.com</span>
                <button class="delete-button" onclick="deleteUser(this)">Eliminar</button>
            </li>
        </ul>
    </div>